# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env

# Node / React
node_modules/
build/
dist/
npm-debug.log
yarn-error.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
.env
.env.local
.env.*.local